/*
 * Copyright (c) 2014 by Gerrit Grunwald
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

.minimal-clock {
    -clock-background-color  : rgba(255, 255, 255, 0.3);
    -clock-border-color      : rgba(255, 255, 255, 0.6);
    -minutes-background-color: rgba(59, 209, 255, 1.0);
    -hour-text-color         : white;
    -date-text-color         : white;
    -minutes-text-color      : white;
    -seconds-color           : rgba(255, 255, 255, 0.8);
}

.minimal-clock .hour-label {
    -fx-background-color : -clock-background-color;
    -fx-border-color     : -clock-border-color;
    -fx-background-radius: 1024;
    -fx-border-radius    : 1024;
    -fx-label-padding    : 0;
    -fx-text-fill        : -hour-text-color;
    -fx-alignment        : center;
}
.minimal-clock .date-label {
    -fx-text-fill: -date-text-color;
    -fx-alignment: center;
}
.minimal-clock .minutes-label {
    -fx-background-radius: 1024;
    -fx-background-color : -minutes-background-color;
    -fx-alignment        : center;
    -fx-text-fill        : -minutes-text-color;
}
.minimal-clock .seconds {
    -fx-fill        : transparent;
    -fx-stroke      : -seconds-color;
    -fx-stroke-width: 10;
}


